.card-photograph {
  text-align: center;

  &:hover,
  &:focus {
    img {
      transform: scale(1.1);
    }
  }

  img {
    transform-origin: top;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    transition: 0.5s;
  }

  &__name {
    color: map-get($map: $colors, $key: secondary);
    font-size: 2.25em;
    padding-top: 20px;
    padding-bottom: 5px;
  }

  &__city {
    color: map-get($map: $colors, $key: primary);
    font-size: 0.8125em;
    padding-bottom: 5px;
  }

  &__tagline {
    font-size: 0.625em;
    padding-bottom: 5px;
  }

  &__price {
    padding-bottom: 10px;
    color: #757575;
    font-size: 0.5625em;
  }

  &__tags {
    justify-content: center;
  }
}

.card-banner-photograph {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;

  @include tablet-and-higher {
    background-color: map-get($map: $colors, $key: quadrary);
  }

  &__portrait {
    width: 100px;
    height: 100px;
    min-width: 100px;
    min-height: 100px;
    margin: 20px;
    @include tablet-and-higher {
      width: 200px;
      height: 200px;
      min-width: 200px;
      min-height: 200px;
      margin: 30px;
    }
    img {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      object-fit: cover;
      margin: auto;
    }
  }

  &__textContainer {
    order: -1;
    padding-right: 20px;
    @include tablet-and-higher {
      padding-left: 20px;
    }
  }

  &__name {
    color: map-get($map: $colors, $key: secondary);
    font-size: 2.25em;
    padding-top: 10px;
    padding-bottom: 5px;
    @include tablet-and-higher {
      font-size: 4em;
    }
  }

  &__city {
    color: map-get($map: $colors, $key: primary);
    font-size: 0.8125em;
    padding-bottom: 5px;
    @include tablet-and-higher {
      font-size: 1.5em;
    }
  }

  &__tagline {
    color: #757575;
    font-size: 0.625em;
    padding-bottom: 5px;
    @include tablet-and-higher {
      font-size: 1.125em;
    }
  }

  &__tags {
  }

  &__button {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    @include tablet-and-higher {
      transform: translate(0, -40px);
      position: initial;
    }
  }
}

.card-media {
  min-width: 100px;
  transition: 0.5s;

  &:hover,
  &:focus {
    transform: scale(1.02) rotateZ(-1deg);
  }

  &__media {
    img,
    video {
      width: 100%;
      height: 60vw;
      object-fit: cover;
      object-position: top;
      border-radius: $standard-border-radius;

      @include tablet-and-higher {
        height: 35vw;
      }

      @include desktop-and-higher {
        height: 25vw;
      }
    }
  }

  &__textContainer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    font-size: 0.875em;
    font-weight: 500;
    color: map-get($map: $colors, $key: primary);
    @include tablet-and-higher {
      font-size: 1.5em;
    }
  }

  &__title {
    font-weight: 400;
    flex-grow: 10;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    @include tablet-and-higher {
    }
  }

  &__price {
    padding: 0 20px;
    white-space: nowrap;
  }

  &__likes {
    white-space: nowrap;
  }
}
