.info-box {
  display: none;
  @include tablet-only {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 150px;
    padding: 0 20px;
    bottom: 0;
    right: 20px;
    background-color: map-get($map: $colors, $key: light-background);
    border-top-left-radius: $standard-border-radius;
    border-top-right-radius: $standard-border-radius;
    &__like {
    }
    &__price {
    }
  }
}
