.form-modal {
  display: none;
  flex-direction: column;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100%;
  background: rgba($color: black, $alpha: 0.7);
  overflow: auto;
  @include tablet-and-higher {
  }
}

.form-modal-content {
  box-sizing: border-box;
  background-color: map-get($map: $colors, $key: light-background);
  margin: 0;
  border: 1px solid #888;
  padding: 20px;
  height: 100%;
  min-height: 520px;
  @include tablet-and-higher {
    margin: 30px auto;
    width: 400px;
    height: 90vh;
    max-height: 800px;
  }
  form {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
  .text-control {
    box-sizing: border-box;
    width: 100%;
    border-radius: $standard-border-radius;
    border: none;
    height: 35px;
    margin-top: 5px;
    padding: 5px;
  }
  .textarea-control {
    box-sizing: border-box;
    width: 100%;
    border-radius: $standard-border-radius;
    border: none;
    margin-top: 5px;
    padding: 5px;
    resize: none;
    flex-grow: 2;
  }
  &__title {
    font-size: 36px;
    margin-bottom: 20px;
  }
  &__btn-submit {
    align-self: flex-start;
    @include tablet-and-higher {
      align-self: center;
    }
  }
}

.formData {
  margin-bottom: 10px;
  &:nth-child(5) {
    display: flex;
    flex-direction: column;
    flex-grow: 2;
  }
}

/* The Close Button */
.close {
  float: right;
  font-size: 28px;
  font-weight: 700;
}

.close:hover,
.close:focus {
  color: map-get($map: $colors, $key: primary);
  text-decoration: none;
  cursor: pointer;
}
