.tag {
  height: 17px;
  text-align: center;
  border: solid 1px #c4c4c4;
  border-radius: 25px;
  color: map-get($map: $colors, $key: primary);
  margin-right: 5px;
  margin-bottom: 5px;
  font-weight: 500;
  font-size: 13px;
  padding-right: 7px;
  padding-left: 7px;
  @include desktop-only {
    height: 24px;
    font-size: 18px;
  }
}
