body {
  font-family: 'DM Sans', sans-serif;
  margin: 8px 20px;
  @include tablet-only {
    margin: 0;
  }
}

a,
a:visited {
  text-decoration: none;
}

/* Faire en sorte que input, select, textarea et button 
   héritent la police de body. Pas d'héritage par défaut */
input,
select,
textarea,
button {
  font-family: inherit;
}

h1 {
  color: map-get($map: $colors, $key: primary);
  margin: 0;
  font-weight: 400;
}

nav {
  color: map-get($map: $colors, $key: primary);
}

.display-contents {
  display: contents;
}
.disable-scroll {
  height: 100%;
  overflow: hidden;
}
