#main-homePage {
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
  column-gap: 20px;
  row-gap: 20px;

  @include tablet-and-higher {
    grid-template-columns: repeat(2, 1fr);
  }

  @include desktop-and-higher {
    grid-template-columns: repeat(3, 1fr);
    margin-top: 100px;
  }
}
