#main-photographerPage {
  padding: 0 15px;
  @include tablet-only {
    padding: 0 35px;
  }
}

.list-media {
  display: grid;
  width: 100%;
  @include tablet-only {
    grid-template-columns: repeat(2, 1fr);
    gap: 75px 75px;
  }
  @include desktop-only {
    grid-template-columns: repeat(3, 1fr);
  }
}
