#main-photographerPage {
  display: grid;
  grid-template-columns: 1fr;
  column-gap: 20px;
  row-gap: 20px;
  padding: 0 0 50px 0;
  @include tablet-and-higher {
    padding: 0 35px 50px;
  }
}

.filter {
  display: none;
  @include tablet-and-higher {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-weight: 700;
    > span {
      margin-right: 20px;
    }
  }
}
